<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>info.vade.LibAVExtension</string>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>CFBundleDisplayName</key>
	<string>FFMPEG Media Extension</string>
	<key>EXAppExtensionAttributes</key>
	<dict>
		<key>EXExtensionPointIdentifier</key>
		<string>com.example.example-extension</string>
	</dict>
</dict>
</plist>
