<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LibAVDebugSanitychecker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LibAVExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LibAVExtensionHost.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B60C49C2C5B01E800758EE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BACCB942C52ACBE0018E44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BACCBA52C52ACBF0018E44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BACCBAF2C52ACBF0018E44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BACCBC62C52AE1D0018E44F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
